<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Interstellar Transport System</title>
        <link href="/webjars/bootstrap/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link href="../static/css/styles.css"
              th:href="@{/css/styles.css}"
              rel="stylesheet" media="screen" />
        <script src="/webjars/jquery/jquery.min.js"
                th:src="@{/webjars/jquery/jquery.min.js}"></script>
    </head>
    
    <body>
        <div class="navbar navbar-dark bg-primary navbar-fixed-top sticky-top">
            <div class="container">
                <div class="navbar-header title">
                    <div class="navbar-brand" href="#">
                        <span style="font-size: 20px;">Interstellar</span>
                        <span style="font-size: 25px;">Transport</span>
                        <span style="font-size: 30px;">System</span>
                    </div>
                </div>
            </div>
        </div>
        
        <h1 class="heading">
            Interstellar Transport System is built and developed to find the
            shortest path from point "A" being Earth, through the galaxy to
            any of the planets represented by the other nodes.
        </h1>
        
        <div class="form">
            <p class="p">Please enter values for source and destination nodes</p>
            <form th:object="${route}" th:action="@{/shortestpath}" method="get" class="form-inline row justify-content-center">
                <div class="form-group mr-2">
                    <label class="sr-only" for="source">source</label>
                    <input type="text" name="source" id="source" th:value="${source}" required class="form-control" placeholder="source">
                </div>
                <div class="form-group mr-2">
                    <label class="sr-only" for="destination">destination</label>
                    <input type="text" name="destination" id="destination" th:value="${destination}" required class="form-control" placeholder="destination">
                </div>
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit</button>
            </form>
            
            <p th:text="${shortestPath}" class="result"></p>
            <div th:if="${not #lists.isEmpty(results)}" class="table">
                <h5>Results List</h5>
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Source Planet</th>
                            <th>Destination Planet</th>
                            <th>Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="result: ${results}">
                            <th th:utext="${result.source.name}"></th>
                            <th th:utext="${result.destination.name}"></th>
                            <th th:utext="${result.id}"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="fixed-footer">
            <div class="container" style="opacity: 0.30;">Copyright &copy; 2020 Vutomi Ngobeni</div>
        </div>
    </body>
</html>
